<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Sample App</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <a href="https://railstutorial.jp">Ruby on Rails Tutorial</a>
    sample application.
  </body>
</html>
